.float_left {
    flex: 20%;
    border-right: 10px solid var(--medgreen);
    text-align: end;
    color: var(--medgreen);
    font-size: 30px;
    padding-right: 10px;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.ul2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 400px;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-me li {
    position: relative;
    padding-top: 65px;
    color: black;
}

.contact-me a {
    color: rgb(78, 78, 78);
}

footer img {
    max-width: 50px;
    max-height: 50px;
}
